{% extends "../index.njk" %}

{% block content %}
  <div class="pricing-header py-3 pb-md-4 mx-auto">
    <h3 class="display-5">Cadastro de Empregado</h3>
  </div>
  <form action="/empregados/store" method="post">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex: Maria">
      </div>
      <div class="form-group col-md-2">
        <label for="meio">Nome do meio</label>
        <input type="text" class="form-control" id="meio" name="meio" placeholder="Ex: R" maxlength="1">
      </div>
      <div class="form-group col-md-2">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Ex: Silva">
      </div>
      <div class="form-group col-md-2">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ex: 10293823" maxlength="9">
      </div>
      <div class="form-group col-md-2">
        <label for="nascimento">Data de Nascimento</label>
        <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Ex: 1990-04-12" maxlength="10">
      </div>
      <div class="form-group col-md-2">
        <label>Sexo</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" id="m" value="M">
          <label class="form-check-label" for="m">Masculino</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" id="f" value="F">
          <label class="form-check-label" for="f">Feminino</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="salario">Salário</label>
        <input type="number" class="form-control" id="salario"  name="salario" placeholder="Ex: 2000">
      </div>
      <div class="form-group col-md-3">
        <label for="gerente">Gerente</label>
        <select id="gerente" name="gerente" class="form-control">
          <option selected>Selecione...</option>
          {% for gerente in gerentes %}
            <option value="{{ gerente.codigo }}">{{ gerente.nome }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="departamento">Departamento</label>
        <select id="departamento"  name="departamento" class="form-control">
          <option selected>Selecione...</option>
          {% for depto in departamentos %}
            <option value="{{ depto.codigo }}">{{ depto.nome }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
     <div class="form-group  col-md-6">
        <label for="endereco">Endereço</label>
        <textarea class="form-control" id="endereco" name="endereco" rows="2" placeholder="Ex: Rua seu ninguem, 152"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
{% endblock %}