{% extends "../index.njk" %}

{% block content %}
  <div class="pricing-header py-3 pb-md-4 mx-auto">
    <h3 class="display-5">Listagem de Departamentos</h3>
    <a href="/departamentos/create" class="btn btn-primary">Cadastrar</a>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        {% for field in data.fields %}
          <th scope="col">{{ field.name }}</th>
        {% endfor %}
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data.rows %}
        <tr>
          {% for field in data.fields %}
            {% if field.name == 'iniciogerente' %}
              <td scope="row">{{ row[field.name].toLocaleDateString("pt-BR") }}</th>
            {% else %}
              <td scope="row">{{ row[field.name] }}</th>
            {% endif %}
          {% endfor %}
          <td scope="row"><a href="/departamentos/delete/{{ row.codigo }}" class="btn btn-danger">Excluir</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}