{% extends "../index.njk" %}

{% block content %}
  <div class="pricing-header py-3 pb-md-4 mx-auto">
    <h3 class="display-5">Cadastro de Local</h3>
  </div>
  <form action="/locais/store" method="post">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex: Natal">
      </div>
      <div class="form-group col-md-4">
        <label for="departamento">Departamento</label>
        <select id="departamento" name="departamento" class="form-control">
          <option selected>Selecione...</option>
          {% for departamento in departamentos %}
            <option value="{{ departamento.codigo }}">{{ departamento.nome }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
{% endblock %}